wsi_root_dir=/data/BreastCancerWSIs
tiles_root_dir=/data/BreastCancerWSIs
output_dir_root=/data/BreastCancerWSIs-Detections
## ssd
wsi_root_dir=/home/NVME-8TB/BreastCancerWSIs
## oct
wsi_dir=OCTOBER_2024
### er
tiles_dirs=OCTOBER_2024_TILES_256/ER
filter.iall+=_ER_
# duplicate ER slide for the same patient, the other one being SH24-006537_ER_3
filter.eany+=SH24-006537_ER_0
### pr
tiles_dirs=OCTOBER_2024_TILES_256/PR
filter.iall+=_PR_
### ki67
tiles_dirs=OCTOBER_2024_TILES_256/Ki67
filter.iall+=KI67
##

%import% aw.cfg
