## rz9
root_path=/media/gilbert/8TB-NVME/Magee_test
log_path=log/deploy/rz9
## gbt
root_path=/home/NVME-8TB/Magee_test
log_path=log/deploy/gbt
## ws1
root_path=/home/WSIs
log_path=log/deploy/ws1
## pr
assay_types+=PR
## er
assay_types+=ER
## ki67
assay_types+=KI67
##

%import% aw.cfg

