wsi_root_dir=/data/PDL1-2026
tiles_root_dir=/data/PDL1-2026-Tiles
output_dir_root=/data/PDL1-2026-Detections

filter.sort_by_id=1

## hns,hnscc
wsi_dir=HNSCC-A
tiles_dirs+=HNSCC-Tiles/256
## nsc,nsclc
wsi_dir=NSCLC-B
tiles_dirs+=NSCLC-Tiles/256
## cvx,cervix,cvix
wsi_dir=Cervix-C
tiles_dirs+=Cervix-Tiles/256
## tnbc
wsi_dir=TNBC-D
tiles_dirs+=TNBC-Tiles/256
### he
tiles_dirs=TNBC-HandE-Tiles/256
## ugi,uppergi
wsi_dir=UpperGI-E
tiles_dirs+=UpperGI-Tiles/256

%import% aw.cfg
