cls=qmlp

@ qmlp
ckpt_root=cvataa/classifiers/ckpt/qmlp_bcw_oct_0_9
suffixes+=bcw_oct_0_9
## pr
ckpt_path=PR_model.pt
suffixes+=pr
## er
ckpt_path=ER_model.pt
suffixes+=er
## ki67
ckpt_path=KI67_model.pt
suffixes+=ki67
## conf80
min_conf=0.80
suffixes+=conf80
@



