## ihc
filter.eany+=HE
## he
filter.iall+=HE

## clps
models=cellpose
@clps
### sam,sam2,dino,dino2
type=%N%

## cvit
models=cellvit
@cvit
### sam,hipt,virchow
model_type=%N%
### consep,lizard,midog,nucls_main,nucls_super,ocelot,panoptils
classifier=%N%

## __sub__
### batch
batch_size=%N%
##
@

## __sub__
### iall
filter.iall+=%N%
### iany
filter.iany+=%N%
### eall
filter.eall+=%N%
### eany
filter.eany+=%N%
### start
filter.start_id=%N%
### end
filter.end_id=%N%
### max
tile.max=%N%
##

## sz
#### 256,512,1024,2048,4096,8192,16384
tile.sz=%N%
## ov
#### 32,64,128,256,512
tile.ovl=%N%

## load
load_from_cache=1
### 0,1
load_from_cache=%N%
### 2
skip_seg=1
##
