wsi_root_dir=/data/BreastCancerWSIs
tiles_root_dir=/data/BreastCancerWSIs
ann_dir_root=/data/BreastCancerWSIs-Detections
## oct
wsi_dir=OCTOBER_2024
tiles_root_dir=/data/BreastCancerWSIs/OCTOBER_2024_TILES_256
### er
tiles_dirs+=ER
### pr
tiles_dirs+=PR
### ki67
tiles_dirs+=Ki67
### all
tiles_dirs+=ER,PR,Ki67
filter.eall+=SH24-006537_ER_0
##

%import% vw.cfg
