wsi_root_dir=/data/PDL1-2026
tiles_root_dir=/data/PDL1-2026-Tiles
ann_dir_root=/data/PDL1-2026-Detections

## tnbc
wsi_dir=TNBC-D
tiles_dir=TNBC-Tiles/256
### he
tiles_dir=TNBC-HandE-Tiles/256
##

%import% vw.cfg

