## ihc
filter.eany+=HE
## he
filter.iall+=HE

## seg
label_sets=seg_only
## bin
label_sets=binary
## qp
label_sets=qupath
## map
map_labels=1
### 0,1
map_labels=%N%

## clps
models=cellpose
### sam,sam2,dino,dino2
models=cellpose-%N%
##

## cvit
models=cellvit-sam
### sam
models=cellvit-sam
##

## grp
grp=1
### 0,1,2
grp=%N%
### m
grp=1
### l
grp=2
##


## mxw
### irange(10)
max_wsis=%N%
vis_suffixes+=mxw%N%

## mxc
### irange(10)
max_chunks=%N%
vis_suffixes+=mxc%N%

## rnd
randomize_tiles=1
### 0,1,2
randomize_tiles=%N%

## 1k,2k,3k,4k,5k,10k
vis_suffixes+="%N%"
samples=%N%

## uni
shared_vis=1
### 0
shared_vis=0

## multi
shared_vis=0
### 0
shared_vis=1



## cvat
cvat_mode=1
### 0,1
cvat_mode=%N%

## __sub__
### iall
filter.iall+=%N%
### iany
filter.iany+=%N%
### eall
filter.eall+=%N%
### eany
filter.eany+=%N%
### start
filter.start_id=%N%
### end
filter.end_id=%N%
### sz
chunk_size=%N
### cls
classifier_suffix=%N%
### eval2,ex
eval_dir=%N%
eval_type=2
### eval1,pass
eval_dir=%N%
eval_type=1
### eval0,fail
eval_dir=%N%
eval_type=0
### chunk
chunk_size=%N%
##

## irange(50)_irange(50)
eval_start_id=%N0%
eval_end_id=%N1%
##










